RewriteEngine On

# Redirect all requests to login.html
# add exception for resources
RewriteCond %{REQUEST_URI} !\.css$
RewriteCond %{REQUEST_URI} !\.(jpg|jpeg|gif|png|js)$
RewriteCond %{REQUEST_URI} !\.map$
RewriteCond %{REQUEST_URI} !^/login\.html$
#RewriteRule ^ /src/server/auth/permission.php [R,L]
RewriteRule ^ /login.html [R,L]